<html>
<head>
<title>Curso</title>
</head>
<body>
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ curso.id }}</td>
			</tr>
			<tr>
				<th>Codigo</th>
				<td>{{ curso.codigo }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ curso.nombre }}</td>
			</tr>
			<tr>
				<th>Creditos</th>
				<td>{{ curso.creditos }}</td>
			</tr>
        </tbody>
      </table>
      <br />
      <a href="add-curso?id={{curso.id}}">Modify</a> |<a href="add-curso">Add New Curso</a> | <a href="mostrar-cursos">List All</a>
</body>
</html>