<html>
<head>
<title>Mostrar Cursos</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Creditos</th>
			</tr>
		</thead>
		
		<tbody>
	{% for curso in showCurso %}
			<tr>
				<td>{{ curso.id }}</td>
				<td>{{ curso.codigo }}</td>
				<td>{{ curso.nombre }}</td>
				<td>{{ curso.creditos }}</td>
				<td><a href="?id={{ curso.id }}">See</a> | <a href="add-curso?id={{curso.id }}">Modify</a> </td>
			</tr>
	{% endfor %}
        </tbody>
      </table>
      <br />
      <a href="add-curso">Add New Curso</a>
</body>
</html>